<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.flomobility.anx"
    android:installLocation="internalOnly"
    android:sharedUserId="${TERMINAL_PACKAGE_NAME}"
    android:sharedUserLabel="@string/shared_user_label">

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />

    <permission
        android:name="${TERMINAL_PACKAGE_NAME}.permission.RUN_COMMAND"
        android:description="@string/permission_run_command_description"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/permission_run_command_label"
        android:protectionLevel="dangerous" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.NETWORK_SETTINGS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_SUPERUSER" />
    <uses-permission android:name="android.permission.USB_PERMISSION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.TETHER_PRIVILEGED" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
    <uses-permission android:name="android.permission.READ_SMS" /> <!-- <uses-permission android:name="android.permission.DEVICE_POWER"/> -->
    <uses-feature android:name="android.hardware.usb.host" />
    <uses-feature android:name="android.hardware.usb.host" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.DUMP" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="com.flomobility.anx.permission.RUN_COMMAND" />

    <application
        android:name=".FloApplication"
        android:allowBackup="false"
        android:extractNativeLibs="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/application_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/Theme.Flo"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".hermes.ui.asset_debug.AssetDebugActivity"
            android:exported="false" />
        <activity
            android:name=".hermes.ui.license.LicenseActivity"
            android:exported="false" />
        <activity
            android:name=".app.TerminalActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|density|screenLayout|uiMode|keyboard|keyboardHidden|navigation"
            android:label="@string/application_name"
            android:launchMode="singleTask"
            android:resizeableActivity="true">
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>

        <activity-alias
            android:name=".HomeActivity"
            android:targetActivity=".app.TerminalActivity">

            <!-- Launch activity automatically on boot on Android Things devices -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.IOT_LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity-alias>

        <activity android:name=".hermes.ui.settings.SettingsActivity" />
        <activity
            android:name=".hermes.ui.splash.SplashActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".hermes.ui.login.LoginActivity" />
        <activity android:name=".hermes.ui.download.DownloadActivity" />
        <activity android:name=".hermes.ui.home.HomeActivity" />

        <service
            android:name=".hermes.daemon.EndlessService"
            android:exported="true"
            android:foregroundServiceType="dataSync" />

        <receiver
            android:name=".hermes.receivers.StartAppOnBootReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".app.activities.HelpActivity"
            android:exported="false"
            android:label="@string/application_name"
            android:parentActivityName=".app.TerminalActivity"
            android:resizeableActivity="true"
            android:theme="@android:style/Theme.Material.Light.DarkActionBar" />
        <activity
            android:name=".app.activities.SettingsActivity"
            android:exported="true"
            android:label="@string/title_activity_terminal_settings"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".shared.activities.ReportActivity"
            android:documentLaunchMode="intoExisting"
            android:theme="@style/Theme.AppCompat.TerminalReportActivity" />

        <receiver
            android:name=".app.TerminalOpenReceiver"
            android:exported="false" />
        <receiver
            android:name=".shared.activities.ReportActivity$ReportActivityBroadcastReceiver"
            android:exported="false" /> <!-- <service -->
        <!-- android:name=".app.TerminalService" -->
        <!-- android:exported="false" /> -->
        <service
            android:name=".app.RunCommandService"
            android:exported="true"
            android:permission="${TERMINAL_PACKAGE_NAME}.permission.RUN_COMMAND">
            <intent-filter>
                <action android:name="${TERMINAL_PACKAGE_NAME}.RUN_COMMAND" />
            </intent-filter>
        </service>
        <service android:name=".app.PluginResultsService" />
        <!--
 This (or rather, value 2.1 or higher) is needed to make the Samsung Galaxy S8 mark the
        app with "This app is optimized to run in full screen."
        -->
        <meta-data
            android:name="android.max_aspect"
            android:value="10.0" />
        <meta-data
            android:name="com.sec.android.support.multiwindow"
            android:value="true" />
        <meta-data
            android:name="com.samsung.android.multidisplay.keep_process_alive"
            android:value="true" />
    </application>

</manifest>
